---
# Only the main Sass file needs front matter (the dashes are enough)
---
$red: #681310;

body {
  margin-bottom: 20px;
}

h1, h2, h3, h4 {
  font-family: 'Fugaz One', cursive;
}

h1 a, h1 a:hover {
  color: inherit;
  text-decoration: none;
}

h4 {
  margin: 30px 0;
}

h4.by-line {
  text-align: right;
  margin: 20px 0;
}

h4.story-link {
  margin: 0 0 40px 0;
  font-size: 160%;
}

img {
  margin: 20px 0;

  &.stop-foreclosure {
    margin: 0;
  }
}

p, li {
  font-size: 120%;
  font-family: 'Roboto', sans-serif;
}

p, ul {
  margin-bottom: 30px;
}

p.mobile-calendar-notice {
  color: white;
  font-weight: bold;
  text-align: center;
  background-color: $red;
  margin: 20px 5px;
  padding: 10px;
}

p.footer {
  text-align: center;
  color: #ccc;
}

a, a:hover {
  color: #18989c;
}


html.wf-loading * {
  opacity: 0;
}

// for embeding youtube videos and google calendars
.iframe-container {
  position: relative;
  padding-bottom: 56.25%;
  margin: 10px 0;
  height: 0;
  overflow: hidden;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.header {
  img {
    margin: 20px 0 0 0;
    width: 280px;
  }

  ul {
    border: 3px solid $red;
    padding: 10px 0;
    margin: -10px 0 0 0;
    text-align: center;

    li {
      font-size: 140%;

      + li {
        margin-left: 5px;
      }
    }

    a, a:hover {
      color: $red;
      text-decoration: none;
      font-family: 'Fugaz One', cursive;
    }

    a.selected {
      text-decoration: underline;
    }

  }

  .logo {
    text-align: right;

    img {
      width: 110px;
    }
  }
}

.footer {
  text-align: center;

  img {
    width: 50px;
  }

  ul {
    margin-bottom: 0;
  }

  li + li {
    margin-left: 10px;
  }

  a, a:hover, p {
    color: #999;
    font-size: 80%;
  }

  a.selected {
    text-decoration: underline;
  }
}

#calendar {
  margin-top: 20px;
}

#press {
  text-align: center;

  h1 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 10px;
  }

  small {
    font-size: 80%;
    color: #999;
  }

  img {
    margin: 0 0 20px 0;
    border: 2px dashed #ccc;
  }
}

// STUFF JUST FOR TABLET / DESKTOP
@media (min-width: 768px) {
  .hide-on-desktop { display: none }

  .header {
    ul {
      border: 0;
      padding: 5px 0;
      background-color: white;
      margin: 40px 0 0 0;
      text-align: left;

      li {
        font-size: 200%;
        font-family: 'Fugaz One', cursive;

        + li {
          margin-left: 20px;
        }
      }

      a, a:hover {
        color: $red;
        font-weight: bold;
      }

      a.selected, a:hover {
        text-decoration: none;
        border-bottom: 5px solid $red;
      }
    }
  }
}

// STUFF JUST FOR WIDE MOBILE
@media (max-width: 767px) {
  .header img { margin: 20px auto }
  .hide-on-mobile { display: none }
}

// STUFF JUST FOR TALL MOBILE
@media (min-width: 568px) {
  .hide-on-wide-mobile { display: none }
}
