<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fugaz+One&family=Roboto&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css?{{ site.time | date: '%s' }}">

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/site.webmanifest">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }} / {% endif %}Red House on Mississippi">
    <meta name="twitter:description" content="An Afro-indigenous family’s fight against systematic displacement in Portland, OR">
    <meta name="twitter:image" content="https://redhouseonmississippi.com/images/redhouse-wide.jpg">

    <!-- FB / Open Graph -->
    <meta property="og:type" content="{% if page.permalink == '/' %}website{% else %}article{% endif %}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }} / {% endif %}Red House on Mississippi" />
    <meta property="og:url" content="https://redhouseonmississippi.com/{{ page.permalink }}" />
    <meta property="og:image" content="https://redhouseonmississippi.com/images/redhouse-wide.jpg" />
    <meta property="og:description" content="An Afro-indigenous family’s fight against systematic displacement in Portland, OR" />
    <meta property="og:site_name" content="Red House on Mississippi" />

    <!-- Google Juice -->
    <meta name="description" content="An Afro-indigenous family’s fight against systematic displacement in Portland, OR">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JR5KE6RP6K"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'G-JR5KE6RP6K');
    </script>

    <title>
      {% if page.title %}{{ page.title }} - {% endif %}Red House on Mississippi - Stop the Foreclosure!
    </title>
  </head>
  <body>
    <div class="container">
      <div class='alert'>
        <p class='header'><b>PRESS CONFERENCE</b></p>
        <p>December 18th at 5pm PST</p>
        <p>
          <a href="https://us02web.zoom.us/j/84261882755?pwd=emo0RXhTcWxKcG9jU2pVN3E2YXRQQT09" target="_blank">
            Click here for Zoom link
          </a>
        </p>
      </div>
      <div class='row header'>
        <div class="col-sm-6 col-md-4">
          <a href="/">
            <img class='img-responsive text' src="/images/header.png" alt="The words 'Red House on Mississippi' in big, bold, red and black text with line-drawing of the Red House next to it">
          </a>
        </div>
        <div class="col-sm-6 col-md-8">
          <ul>
            <li><a {% if page.permalink == "story" %}class="selected" {% endif %} href="/story">STORY</a></li>
            <li><a {% if page.permalink == "donate" %}class="selected" {% endif %} href="/donate">DONATE</a></li>
            <li><a {% if page.permalink == "press" %}class="selected" {% endif %} href="/press">PRESS</a></li>
          </ul>
        </div>
      </div>

      {{ content }}

      <div class="row footer">
        <ul class="list-inline">
          <li><a href="/"><img src="/images/redhouse-logo-only.jpg" alt="Black and white outline drawing of the Red House, with front porch, stairs, and a big tree on the right"></a></li>
          <li><a {% if page.permalink == "story" %}class="selected" {% endif %} href="/story">story</a></li>
          <li><a {% if page.permalink == "donate" %}class="selected" {% endif %} href="/donate">donate</a></li>
          <li><a {% if page.permalink == "press" %}class="selected" {% endif %} href="/press">press</a></li>
        </ul>

        <p class="text-center">STOP THE FORECLOSURE, TREASON, AND PLOT</p>

        <ul class="list-inline">
          <li>
            <a href="https://www.instagram.com/redhouseonmississippi/" target="_blank" aria-label="Instagram">
              <i class='fa fa-instagram' aria-hidden='true'></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/RHonMississippi" target="_blank" aria-label="Twitter">
              <i class='fa fa-twitter' aria-hidden='true'></i>
            </a>
          </li>
          <li><a href="mailto:redhouseonmississippi@gmail.com" target="_blank">redhouseonmississippi@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </body>
</html>
